.searchForm {
    display: flex;
    gap: 10px;
    justify-content: center;
    margin-top: 20px;
}

.input {
    padding: 10px;
    width: 300px;
    border: 2px solid var(--primary-color);
    border-radius: 5px;
}

.button {
    padding: 10px 20px;
    background-color: var(--secondary-color);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.button:hover {
    background-color: var(--primary-color);
}